*{margin: 0%; padding: 0%;}

body{
    background-color: rgb(176, 224, 230);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

header {
    background-color: white;
    padding: 20px;
}

h1 {
    color: rgb(255, 140, 0);
    text-align: center;
    font-family: 'Poppins', sans-serif;
    border-radius: 50px;
    margin-left: auto;
    margin-right: auto;
}

.botaoNav {
    background-color: #1bb1aa;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.botaoNav:hover {
    background-color: rgb(255, 140, 0);
}

.botaoNavv {
    background-color: rgb(255, 140, 0);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.botaoNavv:hover {
    background-color: #1bb1aa;
}

span{
    color:#1bb1aa;
}

.menu{
    border-radius: 25px;
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    gap: 150px;
    color: rgb(255, 255, 255);
    justify-content: center;
    font-family: 'Tilt Neon', cursive;
    list-style-type: none;
    margin-right: 2%;
}

nav a{
    text-decoration: none;
    color: white;
}

.imagem-header{
    width: 900px;
    margin-top: 45px;
}

.cabecalho img{

    width: 900px;
    height: 500px;
    border-radius: 25px;
}

.formas img{
    border-radius: 25px;
    width: 250px;
    height: 150px;
}

.formas{
    display: flex;
    flex-wrap: wrap;
    padding-left: 20px;
    width: 1300px;
    margin: 0 auto;
    padding-top: 20px;
}

.caixa{
    display: flex;
    flex-wrap: wrap;
}

.forma{
    width: 250px;
    margin: 10px;
    padding: 20px;
    border: 1px solid rgb(160, 214, 211);
    border-radius: 20px;
    background: rgb(255, 255, 255);
}

.forma h3{
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

footer{
    width: 100%;
    color: #f5f5f5;
    font-family: 'Tilt Neon', cursive;
}

#footer_content {
    background-color: #171717;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 3rem 3.5rem;
}

#footer_contacts h1 {
    margin-bottom: 0.75rem;
    text-align: left;
}

#footer_social_media {
    display: flex;
    margin-top: 1.5rem;
}

#footer_social_media .footer-link {
    height: 2.5rem;
    width: 2.5rem;
    color: #f5f5f5;
    border-radius: 50%;
    transition: all 0.4s;
}

#footer_social_media .footer-link:hover {
    opacity: 0.8;
}

#footer_social_media .footer-link i {
    font-size: 1.25rem;
}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
    padding: 15px;
}

.footer-list .footer-link {
    color: #a8a29e;
}

.footer-list .footer-link:hover{
    color: #1bb1aa;
}

#footer_subscribe {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

#footer_subscribe p {
    color: #a8a29e;
}

#input_group {
    display: flex;
    align-items: center;
    background-color: #0e0c0c;
    border-radius: 4px;
}

#input_group input {
all: unset;
padding: 0.75rem;
width: 100%;
}

#input_group button {
    background-color: #1bb1aa;
    border: none;
    color: #f5f5f5;
    padding: 0px 1.25rem;
    font-size: 1.25rem;
    height: 100%;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
    transition: all 0.4s;
}

#input_group button:hover{
    opacity: 0.8;
}

#footer_copyright {
    display: flex;
    justify-content: center;
    background-color: #0e0c0c;
    font-size: 0.9rem;
    padding: 1.5ram;
    font-weight: 100;
}
